In [1]:
from authentication_endpoints import authentication_endpoints
#first arguement is my api key then the second is the file path to my private key. Everyone's file path will be different!
#authentication_endpoints inherits from no_authentication_endpoints class so any method in N.A.E. you can call from A.E
#this authentication is needed to submit orders, cancels order,etc
#if this you only care about getting data look at cell below
ae = authentication_endpoints('6336f863-f0fe-4935-86b9-0748ded38928',r'C:\Users\bandr\OneDrive\Desktop\Kalshi\kalshi-key.key')
data= ae.candle_sticks_in_pandas('KXCBDECISIONCANADA', 'KXCBDECISIONCANADA-25OCT-C25',60)
#this one gets the your portfolio balance
print('portfolio balance: '+ ae.get_portfolio_balance())
data.head()

portfolio balance: 36.50

,end_period_dt,open_interest,volume,price_close,price_close_dollars,price_high,price_high_dollars,price_low,price_low_dollars,price_max,...,yes_ask_open_dollars,yes_bid_close,yes_bid_close_dollars,yes_bid_high,yes_bid_high_dollars,yes_bid_low,yes_bid_low_dollars,yes_bid_open,yes_bid_open_dollars,end_period_ts
0,2025-10-08 15:00:00,0,0,NaN,None,NaN,None,NaN,None,None,...,1.0000,54,0.5400,54,0.5400,0,0.0000,50,0.5000,1759935600
1,2025-10-08 16:00:00,0,0,NaN,None,NaN,None,NaN,None,None,...,0.5800,54,0.5400,54,0.5400,54,0.5400,54,0.5400,1759939200
2,2025-10-08 17:00:00,0,0,NaN,None,NaN,None,NaN,None,None,...,0.5800,54,0.5400,54,0.5400,54,0.5400,54,0.5400,1759942800
3,2025-10-08 18:00:00,85,85,57.0,0.5700,57.0,0.5700,57.0,0.5700,None,...,0.5800,57,0.5700,57,0.5700,1,0.0100,54,0.5400,1759946400
4,2025-10-08 19:00:00,0,85,61.0,0.6100,61.0,0.6100,61.0,0.6100,None,...,0.6100,58,0.5800,58,0.5800,57,0.5700,57,0.5700,1759950000

In [ ]:
#much simpler way to access the non authentication data points 
from no_authentication_endpoints import no_authentication_endpoints
nae = no_authentication_endpoints()
df = nae.candle_sticks_in_pandas('KXCBDECISIONCANADA', 'KXCBDECISIONCANADA-25OCT-C25',60)
df.head()

,end_period_dt,open_interest,volume,price_close,price_close_dollars,price_high,price_high_dollars,price_low,price_low_dollars,price_max,...,yes_ask_open_dollars,yes_bid_close,yes_bid_close_dollars,yes_bid_high,yes_bid_high_dollars,yes_bid_low,yes_bid_low_dollars,yes_bid_open,yes_bid_open_dollars,end_period_ts
0,2025-10-08 15:00:00,0,0,NaN,None,NaN,None,NaN,None,None,...,1.0000,54,0.5400,54,0.5400,0,0.0000,50,0.5000,1759935600
1,2025-10-08 16:00:00,0,0,NaN,None,NaN,None,NaN,None,None,...,0.5800,54,0.5400,54,0.5400,54,0.5400,54,0.5400,1759939200
2,2025-10-08 17:00:00,0,0,NaN,None,NaN,None,NaN,None,None,...,0.5800,54,0.5400,54,0.5400,54,0.5400,54,0.5400,1759942800
3,2025-10-08 18:00:00,85,85,57.0,0.5700,57.0,0.5700,57.0,0.5700,None,...,0.5800,57,0.5700,57,0.5700,1,0.0100,54,0.5400,1759946400
4,2025-10-08 19:00:00,0,85,61.0,0.6100,61.0,0.6100,61.0,0.6100,None,...,0.6100,58,0.5800,58,0.5800,57,0.5700,57,0.5700,1759950000